@model Student
@{
    ViewData["Title"] = "ShowResult";
}

<h1>ShowResult</h1>

@Model.Id
@Model.Name
@foreach(var item in @Model.CourseResults)
{
    <h3>@item.Course_Id</h3>
    <h3>@item.Degree</h3>
}