@model List<Instructore>
@{
    ViewData["Title"] = "GetAll";
}

<h1>Instructores </h1>
<br />
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Salary</td>
            <td>Address</td>
            <td>ImageURL</td>
            <td>Department</td>
            <td>Course</td>
            <td></td>

        </tr>
    </thead>
    @foreach(Instructore item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
            <td>@item.Address</td>
            <td><img src="/Images/@item.ImageURL" style="width:35px"/></td>
            <td>@item.Department.Name</td>
            <td>@item.Courses.Name</td>
            <td>
                <a asp-action="Details" asp-controller="Instructore" asp-route-Id="@item.Id"
                class="btn btn-primary">Details</a>
                <a asp-action="Edit" asp-controller="Instructore" asp-route-Id="@item.Id"
                class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-controller="Instructore" asp-route-Id="@item.Id"
                class="btn btn-danger" onclick="return confirm('Are you sure to delete item ..?')">Detele</a>
            </td>
        </tr>   
    }
</table>
<a asp-action="Add" asp-controller="Instructore" class="btn btn-success">Add Instructore</a>
